.layout {
  min-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {

  font-size: 18px;

}

.rightBox {
  display: flex;
  float: right;
  align-items: center;
  height: 100%;
  margin-left: auto;
  overflow: hidden;
}

.userBox {
  span {
    margin: 0 5px;
  }

  display: flex;
  align-items: center;
  padding: 0 12px;

}


:global {
  .ant-layout-header {
    padding: 0 20px;
  }
}